body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
  }
  
  label, input, input[type="submit"] {
    grid-column: span 2;
    margin-bottom: 10px;
  }

  .text-input {
    font-family: DM Sans, sans-serif;
    stroke: 1px solid;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: max(50%, 400px);
    height: max(61px);
    padding-left: 30px;
    font-size: large;
    margin-bottom: 5px;
    align-items: center;
  }
  
  input[type="submit"] {
    background-color: #ffc95b;
    color: black;
    width: 182px;
    height: min(53px);
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    font-family: DM Sans, sans-serif;
  }
  
  input[type="submit"]:hover {
    background-color: white;
    font-weight: bold;
  }
  
  .image-carousel-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-carousel {
    display: flex;
    height: 100%;
    width: 200%;
    animation: slide 20s infinite linear;
  }
  
  .image-carousel img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .form-container, .image-carousel-container {
      width: 100%;
    }
  
    form {
      grid-template-columns: 1fr;
    }
  
    .image-carousel {
      width: 100%;
    }
  }