* {
    font-family: DM Sans;
}

.navbar {
    background-color: #f98f21;
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
}

.nav-title {
    font-size: large;
}

.feedback {
    border-radius: 30px;
    width: auto;
}

.background-container {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure container takes at least the height of the viewport */
}

.homepage {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 100px;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.7);
    line-height: 1;
}

h1 {
    font-weight: bold;
}

h3 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    line-height: 1;
}

.footer h2 {
    font-weight: bold;
    font-size: large;
}

.row.footer a {
    text-decoration: none;
    color: #000;
}

.google-card {
    transform: translate(50%);
    height: 42px;
    width: 80%;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid;
}

.google-card-body {
    height: 100%;
    display: flex;
    align-items: center;
    /* Center content vertically */
}

.google-text {
    text-align: center;
    margin-top: 8px;
    margin-left: 33px;
    font-weight: bold;
    font-size: 15px;
}

.text-input {
    stroke: 1px solid;
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 61px;
    padding-left: 30px;
    font-size: large;
    width: 487px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.password-container {
    position: relative;
    width: 487px;
    align-items: center;
    display: flex;
}

.show-password-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    bottom: 2px;
    transform: translateY(-50%);
    padding: 0 10px;
    border: none;
    cursor: pointer;
    margin-right: auto;
}

.submit-btn {
    background-color: #ffc95b;
    border: 1px solid black;
    border-radius: 10px;
    height: 53px;
    width: 182px;
    color: black;
}

.error-message {
    color: red;
    margin-top: 0px;
    text-align: left;
    /* Adjust as needed */
}

.input-error {
    border: 2px solid red;
}

@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

body {
    background-color: #ececec;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 100px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #f98f21F0;
    color: #fff;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar h1 {
    font-size: 30px;
}

.card {
    border-radius: 15px;
    margin-bottom: 30px;
    width: 28rem;
}

.card .card-body {
    height: 100%;
    overflow: hidden;
}

.card .card-body .card-title {
    color: #f98f21;
    font-weight: bold;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card:hover,
.card-body:hover {
    box-shadow: #234c92;
}

.card-price {
    font-weight: bold;
    font-size: 2rem;
    color: #234c92;
    margin-top: 3rem;
}

.menu-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item-name {
    font-size: 1.1rem;
    margin-left: 10px;
    line-height: 1;
    max-width: 180px;
    flex: 1;
}

.cart-item-price-quantity {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.cart-item-price {
    margin-inline: 10px;
    font-weight: bold;
}

.cart-item-quantity {
    font-size: 0.9rem;
}
  .order-confirm-payment {
    align-items: center;
    justify-content: center;
    padding-top: 6%;
    padding-left: 25%;
    padding-right: 25%;
  }

  #order-confirm {
    flex: 1;
    display: block;
  }

  .order-confirm-items {
    display: block;
    align-items: center;
    min-width: 30%;
    height: 80px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .order-confirm-quantity {
    display: flex;
    align-items: left;
    margin-right: 10px;
    font-size: 22px;
  }

  .order-confirm-item-name {
    font-size: 1.2rem;
    margin-left: 10px;
    line-height: 1;
    max-width: 270px;
    flex: 1;
  }

  .order-confirm-item-price {
    margin-inline: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .total-container {
    margin-top: 10px;
    padding: 3% 6%;
    font-size: large;
    font-weight: bold;
  }
  
  .cost-value {
    padding-left: 10px;
  }

  


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    width: 60vh;
    height: 60vh;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-summary {
    margin-top: 6%;
    padding: 3%;
    align-items: center;
    width: 90vh;
    background: #fff;
    border-radius: 10px;
}

.order-summary h2 {
    font-weight: bold;
    font-family: DM Sans;
}

.order-summary .item-name {
    font-weight: bold;
    font-size: large;
}

.order-summary img {
    border-radius: 10px;
    width: 10vh;
}

.order-summary .checkout-btn {
    margin-top: 10vh;
}
